<div
  class="section"
  style="justify-content: space-between; align-items: center"
>
  <div style="max-width: 35rem">
    <div class="chip mx-auto" style="margin-bottom: 1rem">Contatti</div>
    <div
      class="body-1"
      style="color: #4b5563; text-align: center; margin-bottom: 2rem"
    >
      Se stai cercando un UX/UI Junior con cui collaborare o scambiare qualche
      idea, non esitare a contattarmi!
    </div>
  </div>

  <div>
    <div class="body-2" style="color: #979797; margin-bottom: 2rem">
      I campi contrassegnati con
      <div class="mandatory">*</div>
      sono necessari
    </div>
    <form id="contatti-form" class="form">
      <div id="sender-info" class="d-flex clearfix">
        <div class="float-right">
          <div class="h3" style="color: #4b5563">
            Il tuo nome
            <div class="mandatory">*</div>
          </div>
          <input required=true type="text" id="sender-name" class="input form-control" />
        </div>

        <div class="float-left">
          <div class="h3" style="color: #4b5563">
            La tua email
            <div class="mandatory">*</div>
          </div>
          <input required=true type="mail" id="sender-mail" class="input form-control" />
        </div>
      </div>
      <div>
        <div class="h3" style="color: #4b5563">
          Il tuo messaggio
          <div class="mandatory">*</div>
        </div>
        <textarea
          required=true
          id="message"
          class="input-large form-control mb-2"
          rows="3"
        ></textarea>
      </div>
      <div class="d-flex" style="flex-direction: row-reverse">
        <input
          required=true
          id="submit-btn"
          style="margin-bottom: 2rem"
          type="submit"
          class="btn-1"
          value="Invia"
        />
      </div>
    </form>
  </div>

  <div class="mx-auto flex-column">
    <div class="body-2">
      Puoi anche trovarmi su:
      <div>
        <div class="d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/sara-morgese/">
            <img alt="logo di linkedin" src="../assets/svgs/linkedin.svg" style="margin-right: 24px" />
          </a>
          <a href="https://talent.start2impact.it/profile/sara-morgese">
            <img alt="logo di Start2Impact" src="../assets/svgs/start2impact.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row footer body-2">
  <img
    alt="icona copyright"
    src="../assets/svgs/copyright.svg"
    style="width: 16px; margin-right: 0.5rem"
  />
  2024 | Progettato e realizzato da Sara Morgese
</div>
